.calculator {
	&__bar {
		max-width:     300px;
		background:    #315d75;
		border-radius: 10px;
		padding: 30px 22px 34px 22px;
	}

	&__title {
		padding-bottom: 37px;
		font-style:     normal;
		font-weight:    400;
		font-size:      24px;
		line-height:    36px;
		color:          #FFFFFF;
		text-align:     center;
	}
}
