.button {
	width:            100%;
	color:            #FDFFAE;
	background-color: #6ced84;
	border-radius:    10px;
	font-size:        16px;
	font-weight:      800;
	padding:          8px 4px;
	border:           4px solid #6ced84;
	box-shadow:       inset 0 0 20px rgba(0, 0, 0, 0.25);
	transition:       .3s;

	&_hover {
		background-color: #36FF5C;
	}

	&_active {
		filter:           none;
		border:           4px solid #FDFFAE;
		background-color: #56FF75;
	}

	&__message {
		border-radius:    10px;
		padding:          8px 4px;
		margin-top:       8px;
		text-align:       center;
		background-color: #ff7386;
		color:            #fff;
		transform:        scale(0);
		transition:       .3s;

		&_show {
			transform: scale(100%);
		}
	}
}
